@CHARSET "UTF-8";
html, body{
	width : 100%;
	height : 100%;
	display : block;
	margin : 0px;
}
#layout{
	height : 100%;
	margin : 0px;
}
#mheadline{
	border : 1px solid yellow;
}
#mpopularitem{
	width : 200px;
	height : 100%;
	border : 1px solid black;
	float : left;
}
.mitem{
	width : 200px;
	height : 100%;
	margin : 0px;
	border : 1px solid red;
}
.mimage{
	height : 190px;
	border-bottom : 3px solid orange;
	margin : 0px;
}
dd{
	text-align : center;
	width : 90%;
	margin-top : 5px;
	margin-left : 10px;
	border-bottom : 2px solid black;
	background-color : #c0c0c0;
	cursor : pointer;
}

#resumeDiv{
	height : 100%;
	border : 1px solid green;
}

#resumeTbl{
	border : 1px solid blue;
	margin : 0px auto;
	width : 50%;
	height : 50%;
}
